<!-- <div class="row ms-5 me-5 mt-5">
  <h1>q</h1>
  <div class="card" style="width: 18rem;" *ngFor="let product of allproduct">
  <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}">
  <div class="card-body">
    <p class="card-text">{{product.description}}</p>
    <p class="card-text" [style.backgroundColor]="product.price>100? 'blue': 'red'">Price: {{product.price | currency}}</p>
  </div>
  <button [ngClass]="{'btn btn-primary': true}">Add to Cart</button>
</div>
</div> -->


<div class="row ms-5 me-5 mt-5">
  <ng-container *ngFor="let product of products; let count = index">
    <div class="col-md-3"> <!-- 4 أعمدة في الصف -->

      <h1 class="text-center mb-4">{{ count + 1 }}</h1>

      <div class="card h-100 shadow-sm border-0"  >
        <ng-container *ngIf="product.price > 120; else affordable">
          <p class="text-success">This product is expensive</p>
        </ng-container>
        <ng-template #affordable>
          <p class="text-danger">This product is affordable</p>
        </ng-template>

        <img [src]="product.imageUrl" class="card-img-top" alt="Product Image"
          style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title" appHoverEffect>{{ product.name }}</h5>
          <h1 class="card-text text-muted">{{ product.price | currency }}</h1>
          <p class="card-text text-muted">{{ product.description }}</p>
          <button class="btn btn-danger" (click)="DeleteProduct(product.id)">delete</button>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="card h-100 shadow-sm border-0 p-3" appHoverEffect>
  <p>I'm a test</p>
</div>

</div>

