<!-- <div class="container py-5 bg-danger  ">
        <div>this is about {{form.value|json}}</div>

  <form action="" class="row" #form="ngForm">

    <div>
      <label for="" class="form-label">Name</label>
      <input type="text" class="form-control"  name="name" id="" #name=""ngModel>
    </div>
     <div>
      <label for="" class="form-label">Name</label>
      <input type="text" class="form-control" name="" id="">
    </div>
     <div>
      <label for="" class="form-label">Name</label>
      <input type="text" class="form-control" name="" id="">
    </div>
     <div>
      <label for="" class="form-label">Name</label>
      <input type="text" class="form-control" name="" id="">
    </div>
  </form>
</div> -->

