<div class="container">
  <div>
    {{errorMessage}}
  </div>
  <form  #loginForm="ngForm" (submit)="addUser(loginForm)">
    <div class="mb-3">
      <label for="username" class="form-label"> User Name</label>
      <input type="text" name="username" [(ngModel)]="user.username" #username="ngModel" class="form-control" id="username"
       aria-describedby="nameHelp" required  [ngModelOptions]="{updateOn:'blur'}">
       @if (username.errors?.['required']) {
         <div class="text-danger">
        username is required
      </div>
       }


    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" #password="ngModel" [(ngModel)]="user.password" name="password">
    </div>
     <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" name="email" [(ngModel)]="user.email" #email="ngModel" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
  </form>
</div>
